<h2>Estadísticas</h2>

<table class="estadisticas">
  <tr>
    <td>Número de preguntas:</td>
    <td><%= numeroPreguntas %></td>
  </tr>
  <tr>
    <td>Número de comentarios totales:</td>
    <td><%= numeroComentarios %></td>
  </tr>
  <tr>
    <td>Número medio de comentarios por pregunta:</td>
    <td><%= mediaComentarios %></td>
  </tr>
  <tr>
    <td>Número de preguntas sin comentarios:</td>
    <td><%= preguntasSinComentarios %></td>
  <tr>
    <td>Número de preguntas con comentarios:</td>
    <td><%= preguntasConComentarios %></td>
  </tr>
</table>
